{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link href='{% static 'bootstrap-5.3.2-dist/css/bootstrap.min.css' %}' rel='stylesheet'>
    <script src='{% static 'bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js' %}'></script>
    <title>Twoje konto</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/account.ico' %}"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet"/>
</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-dark" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light">Witaj {{ user.first_name }}</div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'add_pet' %}">Dodaj
                zwierzaka</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'pets_list' %}">Pokaż
                zwierzaki</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'visits_list' %}">Pokaż
                wizyty</a>
        </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
            <div class="container-fluid">
                <button class="btn btn-danger btn-outline-dark" id="sidebarToggle">Ukryj menu</button>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                               data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Zarządzaj kontem</a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'profile_view' %}">Wyświetl profil</a>
                                <a class="dropdown-item" href="{% url 'book_appointment' %}">Umów wizytę</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'logout_view' %}">Wyloguj</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="dashboard-content border-dashed p-3 m-4 view-height">
                <div class="row border-bottom border-3 p-1 m-1">
                    {% block content %}
                        <div class="m-4 p-4 border-dashed">
                            <h2 class="dashboard-content-title">
                                {% if closest_visit %}
                                    <span>Najbliższa wizyta: </span>
                                    <span style="color: black;">{{ closest_visit.available_date.date }} o godzinie: {{ closest_visit.available_date.start_time }}</span>
                                    </h2>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col">Imię zwierzaka</th>
                                            <th scope="col">Klinika</th>
                                            <th scope="col">Lekarz</th>
                                        </tr>
                                        </thead>
                                        <tbody class="table-group-divider">
                                        <tr>
                                            <th scope="row"></th>
                                            <td>{{ closest_visit.pet.name }}</td>
                                            <td>{{ closest_visit.available_date.clinic }}</td>
                                            <td>{{ closest_visit.available_date.doctor }}</td>
                                            <td>
                                                <button type="button" class="btn btn-danger btn-outline-dark">
                                                    <a href="{% url 'visit_info' pk=closest_visit.pk %}"
                                                       class="text-white text-decoration-none">Szczegóły wizyty</a>
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                {% else %}
                                    <span>Brak umówionych wizyt. </span>
                                {% endif %}
                        </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{% block footer %}
        <footer class="py-3 bg-dark text-center fixed-bottom">
            <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">© 2024 Organize Your Pet. Wszelkie prawa zastrzeżone.</p></div>
        </footer>
    {% endblock %}
<!-- Core theme JS-->
<script src="{% static 'js/dashboard_scripts.js' %}"></script>
</body>
</html>