{% extends 'home_page/base.html' %}
{% load static %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'index' %}">Strona główna</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">O aplikacji</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'login_view' %}">Zaloguj</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'img/pidz.jpg' %}" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Organize Your Pet</h1>
            <p class="lead fw-medium lh-sm">Nie masz jeszcze konta? Załóż je!</p>
            <a class="btn btn-danger btn-outline-dark" href="{% url 'registration_view' %}">Zarejestruj się</a>
            <p class="lead fw-medium lh-sm">Posiadasz już konto? Zaloguj się!</p>
            <a class="btn btn-danger btn-outline-dark" href="{% url 'login_view' %}">Zaloguj</a>
        </div>
    </div>
</div>


    <div class="card text-white bg-dark my-5 py-4 text-center">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-danger btn-outline-dark" type="submit">Zapisz</button>
    </form>
    </div>
{% endblock %}