{% extends 'accounts/dashboard.html' %}
{% load static %}
{%  block content %}
    <form method="post">
    {% csrf_token %}
    <div class="col-md-6">
            <label for="name" class="form-label">Imię:</label>
            <input type="text" class="form-control" id="name"
            name="name">
        </div>
        <div class="col-md-6">
            <label for="species" class="form-label">Gatunek:</label>
            <select class="form-control" id="species"
                    name="species">
                {% for choice in form.SPECIES %}
                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-6">
            <label for="breed" class="form-label">Rasa:</label>
            <input type="text" class="form-control" id="breed"
            name="breed">
        </div>
        <div class="col-md-6">
            <label for="gender" class="form-label">Płeć:</label>
            <select class="form-control" id="gender"
                    name="gender">
                {% for choice in form.GENDERS %}
                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                {% endfor %}
            </select>
        </div>
         <div class="col-md-6">
            <label for="birth_date" class="form-label">Data urodzenia:</label>
            <input type="text" class="form-control" id="birth_date"
            name="birth_date">
        </div>
         <div class="col-md-6">
            <label for="weight" class="form-label">Waga:</label>
            <input type="text" class="form-control" id="weight"
            name=weight">
        </div>
         <div class="col-md-6">
            <label for="chip" class="form-label">Chip:</label>
            <input type="text" class="form-control" id="chip"
            name="chip">
        </div>
        <div class="col-12">
            <button class="btn btn-danger btn-outline-dark" type="submit">Dodaj</button>
        </div>
    </form>
{% endblock %}