{% extends 'accounts/dashboard.html' %}
{% load static %}
{% block content %}
    {% if form %}
        <div class="col-md-2">
            <form>
                {{ form.as_div }}
                <button class="btn btn-danger btn-outline-dark" type="button">Szukaj</button>
            </form>
        </div>
    {% endif %}
    <table class="table border-bottom schedules-content">
        <thead>
        <tr class="d-flex text-color-darker">
            <th scope="col" class="col-1">Imię</th>
            <th scope="col" class="col-2 center">Akcje</th>
        </tr>
        </thead>
        <tbody class="text-color-lighter">
            {% for element in list_elements %}
        <tr class="d-flex">
            <th scope="row" class="col-1">
                <a>{{ pet.name }}</a>
            </th>
            <td class="col-7">
                <a>{{ pet.species }}</a>
            </td>
            <td class="col-2 d-flex align-items-center justify-content-center flex-wrap">
                <a class="btn btn-danger btn-outline-dark" href="{% url 'pet_info' pk=pet.pk %}" role="button">Szczegóły</a>
                    <a class="btn btn-danger btn-outline-dark" href="{% url 'modify_pet' pk=pet.pk %}" role="button">Edytuj</a>
                    <a class="btn btn-danger btn-outline-dark" href="{% url 'delete_pet' pk=pet.pk %}" role="button">Usuń</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{#    <ul class="list-group">#}
{#        {% for element in list_elements %}#}
{#            <li class="list-group-item"> {{ element }}#}
{#                <div class="d-grid gap-2 d-md-flex justify-content-md-end">#}
{#                    <a class="btn btn-danger btn-outline-dark" href="#" role="button">Szczegóły</a>#}
{#                    <a class="btn btn-danger btn-outline-dark" href="#" role="button">Edytuj</a>#}
{#                    <a class="btn btn-danger btn-outline-dark" href="#" role="button">Usuń</a>#}
{#                </div>#}
{#            </li>#}
{#        {% endfor %}#}
{#    </ul>#}
{% endblock %}