{% extends 'accounts/dashboard.html' %}
{% load static %}
{% block content %}
    <table class="table border-bottom schedules-content">
        <thead>
        <tr class="d-flex text-color-darker">
            <th scope="col" class="col-1">Data</th>
            <th scope="col" class="col-2">Klinika</th>
            <th scope="col" class="col-7">Zwierzę</th>
            <th scope="col" class="col-2"></th>
        </tr>
        </thead>
        <tbody class="text-color-lighter">
            {% for element in list_elements %}
        <tr class="d-flex">
            <td class="col-1">{{ element.available_date.date }}</td>
            <td class="col-2">{{ element.available_date.clinic.name }}</td>
            <td class="col-7">{{ element.pet.name }}</td>
            <td class="col-2 d-flex align-items-center justify-content-center flex-wrap">
                <a class="btn btn-danger btn-outline-dark" href="{% url 'visit_info' pk=element.pk %}" role="button">Szczegóły</a>
                <a class="btn btn-danger btn-outline-dark" href="{% url 'delete_visit' pk=element.pk %}" role="button">Usuń</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}