{% extends 'accounts/dashboard.html' %}
{% load static %}
{% block content %}
<table class="table border-bottom schedules-content">
        <thead>
        <tr class="d-flex text-color-darker">
            <th scope="col" class="col-2">Data</th>
            <th scope="col" class="col-2">Klinika</th>
            <th scope="col" class="col-2">Adres</th>
            <th scope="col" class="col-2">Lekarz</th>
            <th scope="col" class="col-1">Zwierzak</th>
            <th scope="col" class="col-4">Opis</th>
            <th scope="col" class="col-2">
            </th>
        </tr>
        </thead>
        <tbody class="text-color-lighter">
        <tr class="d-flex">
            <td class="col-1">{{ visit.available_date.date }} {{ visit.available_date.start_time }}</td>
            <td class="col-1">{{ visit.available_date.clinic.name }}</td>
            <td class="col-1">{{ visit.available_date.clinic.address }}, {{ visit.available_date.clinic.city }}</td>
            <td class="col-1">{{ visit.available_date.doctor }}</td>
            <td class="col-1">{{ visit.pet.name }}</td>
            <td class="col-1">{{ visit.description }}kg</td>
            <td class="col-5 d-flex align-items-center justify-content-center flex-wrap">
                <a class="btn btn-danger btn-outline-dark" href="{% url 'modify_pet' pk=pet.pk %}" role="button">Edytuj</a>
                <a class="btn btn-danger btn-outline-dark" href="{% url 'pets_list' %}" role="button">Powrót</a>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}